<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <% @articles.each do |article| %>
      <h4><%= article.subject %><small> created at: <%= article.created_at.strftime "%d/%m/%y %I:%M:%p" %></small></h4>
      <hr></hr>
      <div class="fr-view" style="padding-bottom:20px;">
        <%= raw(article.content) %>
      </div>
    <% end %>
  </div>
</div>
