/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "lightbox-bootstrap";
 @import "common";
 @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
 
body {
  padding-top:50px;
  font-family: 'Nanum Gothic', sans-serif;
}

.navbar-default {
  //background-color: #34495E;
  background: rgba(52, 73, 94, 0.85);
}

.navbar-default .navbar-nav {
  li {
    a {
      color:#ffffff;
    }
    a:hover, a:focus {
      background-color: #3498DB;
      color: #FFFFFF;
    }
    ul {
      background-color: #34495E;
      li {
        a:hover, a:focus {
          background-color: #3498DB;
          color: #FFFFFF;
        }
      }
    }
  }
}
.footer {
  height:100%;
  background-color: rgb(63, 67, 89);
  color:#ffffff;
  font-size:1.1em;
  h3 {
    color:#B0B2B8;
  }
}

.nav-tabs {
  border-bottom: 2px solid #DDD;
  li {
    a {
      border: none;
      color: #666;
    }
    a:hover {
      border: none;
      color: #4285F4 !important;
      background: transparent;
    }
    a::after {
      content: "";
      background: #4285F4;
      height: 2px;
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: -1px;
      transition: all 250ms ease 0s;
      transform: scale(0);
    }
  }
  li.active {
    a {
      border: none;
      color: #4285F4 !important;
      background: transparent;
    }
    a, a:focus, a:hover {
      border-width: 0;
    }
    a::after {
      transform: scale(1);
    }
  }
  li:hover {
    a::after {
      transform: scale(1);
    }
  }
}
.tab-nav {
  li {
    a::after {
      background: #21527d none repeat scroll 0% 0%;
      color: #fff;
    }
  }
}
.tab-pane {
  padding: 15px 0;
}
.tab-content{
  padding:20px
}
.card {
  background: #FFF none repeat scroll 0% 0%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

#home-slider .item img{
    display: block;
    width: 100%;
    height: auto;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#logo-container img {
   height: auto;
}

@media (max-width:992px){
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
     }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
     }
     .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    } 
}

#card-row {
  overflow: hidden; 
}

#card-row .panel {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  border-radius: 0;
  padding-top: 40px;
  vertical-align:top;
  h1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
    margin:0px;
    font-size: 3em;
    font-weight: bold;
    text-align:left;
    word-break: keep-all;
  }
  h2 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
    margin: 0px;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    word-break: keep-all;
  }
  p {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    margin:0;
  }
  .event {
    padding-top: 20px;
    text-align: center;
    font-size: 2em;
  }
}